/**
* Login
*
* @project Stela
* @version 2013
* @package login.css
* @author Daiane Ambos
* @copyright 2013 Daiane Ambos
*
*/

body {
    background: #1c4354 url(../images/login/bg-login.jpg) left top repeat-x;
    color: #FFF;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
}
.conteiner-login {
    width:400px;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -200px;
    position: absolute;
    top: 50%;
}

.logo {
    width: 400px;
    height: 66px;
    background: url(../images/login/logo.png) no-repeat;
}

.form-horizontal .controls { margin-left: 110px; }
.form-horizontal .control-label { width: 100px; }

.btn { color: #193c4b; }