/**
* Tablewrapper
*/

#tablewrapper {
    width: 100%; 
    margin: 0 auto;
    padding: 5px 0 0 0;
}
#tableheader {
    width: 100%;
    background: #f5f5f5;
    float: left;
    margin: 0 0 10px 0;
}
#tableheader select {
    float:left; 
    font-size:12px; 
    width:125px; 
    margin-bottom: 0;
}
#tableheader input {
    float:left; 
    width: 225px; 
    padding: 2px 4px 4px; 
    margin-left: 4px;
    margin-bottom: 0;
}

/**
* Search
*/

.search { float:left; }
.search table { margin: 0 5px; }
.search table td { padding: 8px 4px; }

/**
* Details
*/

.details {
    float: right; 
    padding: 12px 10px 8px 10px;
}
.details div {
    float: left; 
    margin-left: 15px;
}
.details div a { text-decoration: underline; }
.details div a:hover { text-decoration: none; }

/**
* Tinytable
*/

.tinytable {
    font-size: 12px;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.tinytable th {
    background-color: #28566a;
    color: #FFF;
    padding: 8px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    text-align: left;
}
.tinytable th div { }
.tinytable td {
    padding: 8px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    text-align: center;
    vertical-align: middle;
}
.tinytable .head div {
    background:url(../images/tinytable/sort.gif) 7px center no-repeat; 
    cursor:pointer; 
    padding-left:18px;
}
.tinytable .desc div { 
    background: url(../images/tinytable/desc.gif) 7px center no-repeat; 
    cursor:pointer; 
    padding-left:18px
}
.tinytable .asc div { 
    background:url(../images/tinytable/asc.gif) 7px  center no-repeat; 
    cursor:pointer; 
    padding-left:18px
}
.tinytable .head:hover, 
.tinytable .desc:hover, 
.tinytable .asc:hover {color:#fff}
.tinytable .evenrow td { background: #f5f5f5; }
.tinytable .oddrow td { background: #f0f0f0; }
.tinytable td.evenselected,
.tinytable td.oddselected { background: #e8e8e8; }

.tinytable tfoot {
    background:#fff; 
    font-weight:bold
}
.tinytable tfoot td {
    padding:6px 8px 8px;
}

/**
* Others
*/

#tablefooter {
    width: 100%;
    background: #f5f5f5;
    float: left;
    padding: 6px 0;
}
#tablenav { float:left; }
#tablenav img { cursor:pointer }
#tablenav div {
    float:left; 
    margin-right:15px;
}
#tablelocation { float:right; }
#tablelocation select { margin-bottom: 0; }
#tablelocation div {
    float:left; 
    margin-left:15px
}
#tablelocation select, 
#tablenav select { width: 75px; }
.page { 
    margin:2px 0 0;
    padding: 0 10px 0 0;
}
#selectedrow td { background:#e8e8e8; }
.tinytable tbody tr { cursor: pointer; }